body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    margin: 0 auto;
    max-width: 1250px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-input-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.chat-input {
    border: solid 2px rgb(130, 138, 212);
    width: 210px;
}

.btn {
    background-color: rgb(130, 138, 212);
    margin: 0;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: rgb(95, 108, 230);
}

.chat-output {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    border: solid 2px rgb(130, 138, 212);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.recieve-message {
    border: solid 2px rgb(130, 138, 212);
    border-radius: .5em;
    padding: 0.1em 0.3em;
    margin-left: 8px;
}

.send-message {
    float: right;
    border: solid 2px rgb(130, 138, 212);
    border-radius: .5em;
    padding: 0.1em 0.3em;
    margin-right: 8px;
    background-color: rgb(198, 200, 218);
}